.boardss {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Creates a 3-column grid */
    gap: 5px; /* Adjusts gap between squares */
    justify-content: center;
 }

.square {
    width: 100px; /* Each square is 100px wide */
    height: 100px; /* Each square is 100px tall */
    border: 2px solid white; /* Square border */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    cursor: pointer;
    position: relative; /* For any content inside square to be positioned */
}

.fit-image {
    width: 80%; /* Ensure images fit well in the square */
    height: 80%;
    object-fit: cover;
}

.ticBtn {
    background-color: #fff;
    color: #64068f;
    border:2px dashed #64068f;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}

.ticBtn:hover {
    background-color: #64068f;
    color: white;
}

.status {
    margin: 10px 0;
    text-align: center;
}

.tic {
    background: linear-gradient(84deg, rgba(100,6,143,1) 13%, rgba(193,11,247,1) 37%, rgba(80,0,149,1) 100%);
    color: white;
    border: 10px solid white;
    text-align: center;
}

.tic:hover {
    background-color: white;
    color: linear-gradient(84deg, rgba(100,6,143,1) 13%, rgba(193,11,247,1) 37%, rgba(80,0,149,1) 100%);
}
